{% extends 'base.twig' %}

{% block content %}
    <h1 class="text-center mt-150">Error 404 : Not found</h1>
    <div class="d-flex justify-content-center">
        <img src="/assets/forbidden.png" class="forbidden mt-2 mb-2" alt="forbidden-icon">
    </div>
    <h2 class="text-center">The requested URL was not found on this server</h2>
{% endblock %}
